# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Environment variables (Temporarily allowed for Firebase deploy)
# .env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/
serviceAccountKey.json
history.db